In [1]:
PROJECT_ID = 'hidden-cosmos-240318'
from google.cloud import bigquery

In [2]:
client = bigquery.Client(project=PROJECT_ID, location="US")

In [3]:
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

In [4]:
# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [5]:
table_ref = dataset_ref.table("comments")

In [6]:
table = client.get_table(table_ref)

In [7]:
# Exibição das 50 primeiras linhas da tabela
client.list_rows(table, max_results=50).to_dataframe()

          id  by author        time   ...      parent deleted  dead ranking
0    2701393  5l     5l  1309184881   ...     2701243    None  None       0
1    5811403  99     99  1370234048   ...     5804452    None  None       0
2      21623  AF     AF  1178992400   ...       21611    None  None       0
3   10159727  EA     EA  1441206574   ...    10159396    None  None       0
4    2988424  Iv     Iv  1315853580   ...     2988179    None  None       0
5    3867418  Iv     Iv  1334921984   ...     3867404    None  None       0
6    3925617  Iv     Iv  1336076765   ...     3924840    None  None       0
7    3107534  Iv     Iv  1318520044   ...     3107241    None  None       0
8    8409259  Iv     Iv  1412421647   ...     8409226    None  None       0
9    2855741  Jd     Jd  1312690646   ...     2855343    None  None       0
10     50570  Jd     Jd  1189011845   ...       50556    None  None       0
11   2600618  Jd     Jd  1306794854   ...     2600609    None  None       0
12   2600423  Jd     Jd  1306789205   ...     2599323    None  None       0
13   1983932  Jd     Jd  1291831945   ...     1979965    None  None       0
14   5824036  Jd     Jd  1370414140   ...     5824021    None  None       0
15     73111  Jd     Jd  1193467001   ...       73107    None  None       0
16   4569290  Jd     Jd  1348562302   ...     4569255    None  None       0
17    319968  KB     KB  1222805047   ...      319943    None  None       0
18   9699296  M8     M8  1434026580   ...     9698927    None  None       0
19   4895850  Mz     Mz  1355082935   ...     4895812    None  None       0
20  10313701  Mz     Mz  1443725815   ...    10313194    None  None       0
21   1658291  Mz     Mz  1283476918   ...     1658204    None  None       0
22   4911653  Mz     Mz  1355336835   ...     4911595    None  None       0
23   3996858  Mz     Mz  1337456956   ...     3996819    None  None       0
24   9894480  Mz     Mz  1437000136   ...     9894355    None  None       0
25   3391384  Mz     Mz  1324838925   ...     3391348    None  None       0
26   9495895  Mz     Mz  1430871869   ...     9495869    None  None       0
27   1584576  Mz     Mz  1281224545   ...     1584536    None  None       0
28   4889323  Mz     Mz  1354915543   ...     4889022    None  None       0
29   5534500  Mz     Mz  1365711468   ...     5534014    None  None       0
30   1927774  Mz     Mz  1290370628   ...     1927760    None  None       0
31   4903795  Mz     Mz  1355218612   ...     4902524    None  None       0
32   4169740  Mz     Mz  1340839911   ...     4169724    None  None       0
33   3921400  Mz     Mz  1335995626   ...     3921353    None  None       0
34   2526778  Mz     Mz  1304890992   ...     2526763    None  None       0
35   2643102  Mz     Mz  1307760908   ...     2643099    None  None       0
36  10355343  Mz     Mz  1444331908   ...    10355151    None  None       0
37   2374661  Mz     Mz  1301221185   ...     2374590    None  None       0
38   4907772  Mz     Mz  1355270676   ...     4907728    None  None       0
39   2092003  Mz     Mz  1294757303   ...     2089768    None  None       0
40  10075040  Mz     Mz  1439835748   ...    10074206    None  None       0
41   3646149  Mz     Mz  1330482726   ...     3646116    None  None       0
42   2374679  Mz     Mz  1301222228   ...     2374613    None  None       0
43   2182846  Mz     Mz  1296900093   ...     2182809    None  None       0
44   4000606  Mz     Mz  1337558104   ...     4000588    None  None       0
45   8104939  Mz     Mz  1406667062   ...     8104917    None  None       0
46  10291875  Mz     Mz  1443463008   ...    10291766    None  None       0
47   1157057  Mz     Mz  1267374062   ...     1157041    None  None       0
48   2210823  Mz     Mz  1297538002   ...     2210542    None  None       0
49   5273062  Mz     Mz  1361685169   ...     5273054    None  None       0

[50 rows x 10 columns]

The parent column indicates the comment that was replied to, and the id column has the unique ID used to identify each comment,

In [8]:
# Query to select comments that received more than 10 replies
query_popular = """
                SELECT parent, COUNT(id)
                FROM `bigquery-public-data.hacker_news.comments`
                GROUP BY parent
                HAVING COUNT(id) > 10
                """

In [9]:
# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(query_popular, job_config=safe_config)

In [10]:
# API request - run the query, and convert the results to a pandas DataFrame
popular_comments = query_job.to_dataframe()

In [11]:
popular_comments.head()

     parent  f0_
0   4799163   45
1    726969   51
2    480171   50
3   1326047   63
4  10373608   50

Each row in the popular_comments DataFrame corresponds to a comment that received more than ten replies. For instance, the comment with ID 801208 received 56 replies.

In [12]:
# Improved version of earlier query, now with aliasing (mudança no nome usando AS) & improved readability
query_improved = """
                 SELECT parent, COUNT(1) AS NumPosts
                 FROM `bigquery-public-data.hacker_news.comments`
                 GROUP BY parent
                 HAVING COUNT(1) > 10
                 """

In [13]:
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)

In [14]:
query_job = client.query(query_improved, job_config=safe_config)

In [15]:
# API request - run the query, and convert the results to a pandas DataFrame
improved_df = query_job.to_dataframe()

In [16]:
# Print the first five rows of the DataFrame
improved_df.head()

    parent  NumPosts
0  7204982        41
1  2559177        61
2  9070488        97
3  9459364       106
4  3402359        54