## SQL Summer Camp - Kaggle

Participant: Bianca Amorim

In [1]:
from google.cloud import bigquery

In [2]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="C:/Users/bianca.melo/Downloads/hidden-cosmos-240318-b5ec42d4c826.json"

#client = language.LanguageServiceClient.from_service_account_json("C:/Users/bianca.melo/Downloads/hidden-cosmos-240318-b5ec42d4c826.json")

In [3]:
# Cria um objeto "Cliente"
client = bigquery.Client()

In [4]:
# Construção de referência ao dataset "hacker_news"
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [5]:
# Lista todas as tabelas do dataset "hacker_news" 
tables = list(client.list_tables(dataset))

# Printa os nomes de todas as tabelas no dataset
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [6]:
# Constrói uma referência a tabela completa
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

Estrutura do que foi trabalhado até agora
![title](img/biguery.png)

In [7]:
#Printa informações das colunas na tabela "full" do dataset "hacker_news"
table.schema

#(NOME_DA_COLUNA, DATATYPE, MODO (Nullable -> NULL padrão), DESCRIÇÃO_DO_DADO_DA_COLUNA)

[SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

In [8]:
# Visualização das 5 primeiras linhas da tabela "full"
client.list_rows(table, max_results=5).to_dataframe()

,by,score,time,timestamp,title,type,url,text,parent,deleted,dead,descendants,id,ranking
0,wool_gather,NaN,1554052591,2019-03-31 17:16:31+00:00,,comment,,There&#x27;s an amazing exposition of the whol...,19536464.0,None,None,NaN,19536772,None
1,sramana,1.0,1342125490,2012-07-12 20:38:10+00:00,Bootstrapping Zero to 7M from Kolkata: FusionC...,story,http://www.sramanamitra.com/2012/07/12/bootstr...,,NaN,None,True,-1.0,4236646,None
2,sharmajai,NaN,1317225097,2011-09-28 15:51:37+00:00,,comment,,Your tablet can never be a replacement for you...,3048175.0,None,None,NaN,3048481,None
3,ShroudedNight,NaN,1536279396,2018-09-07 00:16:36+00:00,,comment,,&gt; And perhaps the culprit is that INPLACE_A...,17923667.0,None,None,NaN,17930840,None
4,ForHackernews,NaN,1393426206,2014-02-26 14:50:06+00:00,,comment,,Not just average Joes. Lots of extremely wealt...,7303587.0,None,None,NaN,7305210,None